.card-img-top{
    width:100px;
    height:100px;
}
.btn{
    top:0%;
    right:0%;
    background-color:lightblue;
    border-radius: 50%;
}

.btn:hover{
    background-color:slategrey;
}

.card-text{
   align-content: center;
}
